body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

#yieldsquare-ad {
    margin:10px auto 20px;

    width: 728px;
}

#yieldsquare-about a {
    cursor: pointer;
}

.yieldsquare-enabled {
    border-radius:0 0 5px 5px;
    box-shadow: inset 0 0 75px 75px lightgray, 0 0 0 lightgray;
    -webkit-transition:opacity 1s linear;
}

.yieldsquare-disabled-first {
    -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.45);
    -webkit-transition: opacity 1s linear;
    background-image: url(http://s3.amazonaws.com/static.yieldsquare.com/ads-disabled/messagebed.gif);
    height: 90px;
    opacity: 1;
    position: relative;
    width: 728px;
}

.yieldsquare-disabled-second {
    -webkit-transition: all 0.4s ease-in-out;
    background-image: url(http://s3.amazonaws.com/static.yieldsquare.com/ads-disabled/messagebed.gif);
    border-radius:0 0 5px 5px;
    box-shadow: inset 0 0 35px 35px transparent, 0 0 75px 50px transparent;
    height: 90px;
    opacity: 0;
    position: relative;
    width: 728px;
}

#yieldsquare-about-ad {
    font:11px arial !important;
    color:#555;
    padding: 4px;
    text-align:center;
}

#yieldsquare-about-ad a {
    cursor: pointer;
    color: #333;
}

.yieldsquare-message-icon {
    position: absolute;
    top: 20px;
    left: 20px;
}

.yieldsquare-message-p {
    font: 13px/17px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    width: 542px;
    height: 74px;
    left: 123px;
    position: absolute;
    top: 0px;
    color: #3d3d3d;
    margin-top: 13px;
    margin-bottom: 13px;
}

.yieldsquare-message-p span {
    font: bold 16px/17px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color: #292929;
}

.yieldsquare-message-p a {
    text-decoration: none;
    color: #1d97cf;
}

.yieldsquare-message-p a:hover {
    text-decoration: underline;
}

#yieldsquare-message-x {
    position: absolute;
    left: 715px;
    top: 6px;
}

